<style>
	body {
		background: <%= @color %>;
	}

</style>


<h1>Welcome#about</h1>
<p>Find me in app/views/welcome/about.html.erb</p>

<p>My favorite color is <%= @color %></p>
<p>My shoe size is <%= @size %></p>

 <% if @size > 12 %>
		<p>My feet are huge!</p>
	<% end %>
<p>
	<%= link_to "Blue", about_path(color: "blue", size: 14), class: "btn btn-primary" %>

	<%= link_to "Green", about_path(color: "green", size: 10), class: "btn btn-success" %>
</p>